<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47158845692-bhckkghps600crvdqhbor67mhggko01s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47158845692-bhckkghps600crvdqhbor67mhggko01s</string>
	<key>API_KEY</key>
	<string>AIzaSyD9v5QFUg7qgkWXVZZclnMrAz_rB-r7zI0</string>
	<key>GCM_SENDER_ID</key>
	<string>47158845692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalfakhro.beachfyme</string>
	<key>PROJECT_ID</key>
	<string>beachfyme</string>
	<key>STORAGE_BUCKET</key>
	<string>beachfyme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47158845692:ios:0ef36ebacce08115657779</string>
	<key>DATABASE_URL</key>
	<string>https://beachfyme.firebaseio.com</string>
</dict>
</plist>